<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= @users.count %> registered</p>
<div>
  <% @users.each do |user| %>
    <%= link_to user do %>
      <div class="round-image round-image-100 user_index"><%= image_tag(user.avatar.url(:thumb)) %></div>
    <% end %>
  <% end %>
</div>
