/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .form_cont{
  margin: auto;
  width: 50%;
  min-width: 270px;
 }
 .round-image{
    background-color: white;
    border: 1px solid #d9d9d9; 
    overflow: hidden;
    text-align: center;
    img { width: 100% }
 }
 .round-image-50 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
}
.round-image-100 {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 100px;
    width: 100px;
}
.round-image-300 {
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    height: 300px;
    width: 300px;
}
.nav-pic-dropdown{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.user_index{
  float: left;
  margin: 10px;
}
// Product list view
.products_cont {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.product_cont {
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  float: left;
  margin: 15px;
  min-width: 250px;
  padding: 10px;
  width: 22%;
}
.product_img_cont {
    height: 270px;
    overflow: hidden;
}
.category_name {
    color: #808080;
}
.product_name {
    height: 24px;
    overflow: hidden;
}
.fifty {
    float: left;
    width: 50%;
}
.struck_off{
  text-decoration: line-through;
}

// Product detail
.products_cont_detail {
    float: left;
    margin: 20px 0 100px;
    width: 100%;
}
.product_cont_detail {
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #808080;
  margin: 0 auto;
  max-width: 100%;
  min-width: 270px;
  padding: 10px;
  text-align: left;
  width: 70%;
}
.img_cont_detail {
  min-height: 400px;
  text-align: center;
}
.category_name_detail {
  color: #808080;
}
