.page-header
  - if policy(Product).new?
    = link_to new_product_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Product
  %h1 Listing products
  .products_cont
    - @products.each do |product|
      = render product, {product: product, discount_percent: product.discount_percent}
